[submodule "www/cropperjs"]
	path = "www/cropperjs"
	url = https://github.com/fengyuanchen/cropperjs.git
[submodule "firmware/components/esp32-wifi-manager"]
	path = firmware/components/esp32-wifi-manager
	url = "https://github.com/Spritetm/esp32-wifi-manager.git"
